<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ENI-Projet-Encheres</display-name>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>menu</servlet-name>
    <jsp-file>/WEB-INF/menu.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>menu</servlet-name>
    <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>accueil</servlet-name>
    <jsp-file>/WEB-INF/accueil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>connexion</servlet-name>
    <jsp-file>/WEB-INF/connexion.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>creercompte</servlet-name>
    <jsp-file>/WEB-INF/creercompte.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>creercompte</servlet-name>
    <url-pattern>/creercompte</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>enchere</servlet-name>
    <jsp-file>/WEB-INF/enchere.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>enchere</servlet-name>
    <url-pattern>/enchere</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nouvellevente</servlet-name>
    <servlet-class>fr.eni.ecole.encheres.servlets.ServletNouvelleVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nouvellevente</servlet-name>
    <url-pattern>/nouvellevente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pagenouvellevente</servlet-name>
    <jsp-file>/WEB-INF/nouvellevente.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>pagenouvellevente</servlet-name>
    <url-pattern>/pagenouvellevente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profil</servlet-name>
    <jsp-file>/WEB-INF/profil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>profil</servlet-name>
    <url-pattern>/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAccueil</servlet-name>
    <servlet-class>fr.eni.ecole.encheres.servlets.ServletAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccueil</servlet-name>
    <url-pattern>/ServletAccueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>details</servlet-name>
    <servlet-class>fr.eni.ecole.encheres.servlets.ServletDetailsEnchere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>details</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>encherir</servlet-name>
    <servlet-class>fr.eni.ecole.encheres.servlets.ServletEncherir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>encherir</servlet-name>
    <url-pattern>/encherir</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>supprimerProfil</servlet-name>
    <servlet-class>fr.eni.ecole.encheres.servlets.ServletSupprimerProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supprimerProfil</servlet-name>
    <url-pattern>/supprimerProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inscription</servlet-name>
    <servlet-class>fr.eni.ecole.encheres.servlets.ServletInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>autocomplete</servlet-name>
    <servlet-class>fr.eni.ecole.encheres.servlets.ServletRechercheAutocomplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>autocomplete</servlet-name>
    <url-pattern>/autocomplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifierProfil</servlet-name>
    <servlet-class>fr.eni.ecole.encheres.servlets.ServletModifierProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifierProfil</servlet-name>
    <url-pattern>/modifierProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>supprimerEnchere</servlet-name>
    <servlet-class>fr.eni.ecole.encheres.servlets.ServletSupprimerEnchere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supprimerEnchere</servlet-name>
    <url-pattern>/supprimerEnchere</url-pattern>
  </servlet-mapping>
</web-app>